<div class="span-24 last">Header</div>
<div class="span-5" style="margin-right: 0">
  <ul class="account_list">
    <%= user_account_li(:show_all, controller.action_name == 'index') %>
    <% @users.each do |user| %>
      <%= user_account_li(user, @user && user.id == @user.id) %>
    <% end %>
  </ul>
</div>
<div class="span-15">
  <ul class="tweet_list">
    <% odd = false
       @tweets.each do |tweet|
         odd = odd == false %>
    <li class ="<%= odd ? 'odd' : 'even' %>">
      <div class="thumb">
      <% unless @user %>
      <% p tweet %>
      <img src="<%= tweet.user && tweet.user.image_url %>" alt="<%= tweet.user && tweet.user.username %>" title="<%= tweet.user && tweet.user.username %>" class="tw_small" />
      <% end %>
      </div>
        <div class="content">
        <div class="timestamp" title="<%= tweet.tw_created_at %>"><%= tweet.tw_created_at.strftime('%Y-%m-%d %H:%M:%S') %></div>
        <div class="original_tweet"><%= parse_tweet tweet.text %></div>
        <% if tweet.translations.empty? %>
        <span class="entry-content">--- translation failed (it's still BETA) ---</span>
        <% else %>
        <%   tweet.translations.each do |translation| %>
        <span class="status-translation">
          <span class="entry-content"><%= translation.text.nil? || translation.text.empty? ?
            %{--- translation failed (it's still BETA) ---} : parse_tweet(translation.text) %></span>
        </span>
        <%   end
           end %>
      </div>
      <div class="clear"></div>
    </li>
    <% end %>
  </ul>
</div>
<div class="span-4 last">Right Sidebar</div>
<div class="span-24 last">Footer</div>
