<div class="span-24 last">
  <h1>Tweets and Translations from the Ruby core!</h1>
  <div style="margin-bottom:8px; margin-top:-20px;">Project state: far from Beta</div>
</div>
<div class="span-5" style="margin-right: 0">
  <ul class="account_list">
    <%= user_account_li(:show_all, controller.action_name == 'index') %>
    <% @users.each do |user| %>
      <%= user_account_li(user, @user && user.id == @user.id) %>
    <% end %>
  </ul>
</div>
<div class="span-15">
  <ul class="tweet_list">
    <% odd = false
       @tweets.each do |tweet|
         odd = odd == false %>
    <!-- li class ="<%= odd ? 'odd' : 'even' %>">
      <div class="thumb">
      <% unless @user %>
      <img src="<%= tweet.user && tweet.user.image_url %>" alt="<%= tweet.user && tweet.user.username %>" title="<%= tweet.user && tweet.user.username %>" class="tw_small" />
      <% end %>
      </div>
      <div class="content">
        <div class="timestamp" title="<%= tweet.tw_created_at %>"><%= time_ago_in_words(tweet.tw_created_at) %> ago</div>
        <div class="original_tweet"><%= parse_tweet tweet.text %></div>
        <% if tweet.translations.empty? %>
        <span class="entry-content">--- translation failed (it's still BETA) ---</span>
        <% else %>
        <%   tweet.translations.each do |translation| %>
        <span class="status-translation">
          <span class="entry-content"><%= translation.text.nil? || translation.text.empty? ?
            %{--- translation failed (it's still BETA) ---} : parse_tweet(translation.text) %></span>
        </span>
        <%   end
           end %>
      </div>
      <div class="clear"></div>
    </li -->
    <li>
      <div class="timestamp" title="<%= tweet.tw_created_at %>"><%= time_ago_in_words(tweet.tw_created_at) %> ago</div>
      <div class="original"><%= parse_tweet tweet.text %></div>
      <!-- http://blueprintcss.org/demos/tabs.html -->
      <!-- ul class="tabs" style="padding: 2px 2px 2px 48px">
        <li><a href="#" onclick="return false;" class="selected">Microsoft Translator</a></li>
        <li><a href="#" onclick="return false;">Google Translate</a></li>
        <li><a href="#" onclick="return false;">more</a></li>
      </ul -->
      <% if tweet.translations.empty? %>
      <div class="translation">--- translation failed (it's still BETA) ---</div>
      <% else %>
        <% tweet.translations.each do |translation| %>
      <div class="translation"><%= translation.text.nil? || translation.text.empty? ?
          %{--- translation failed (it's still BETA) ---} : parse_tweet(translation.text) %></div>
        <% end
         end %>
      <% unless @user %>
      <div class="thumb">
      <img src="<%= tweet.user && tweet.user.image_url %>" alt="<%= tweet.user && tweet.user.username %>" title="<%= tweet.user && tweet.user.username %>" class="tw_small" />
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
  <%#= will_paginate @tweets %>
</div>
<div class="span-4 last">Right Sidebar</div>
<div class="span-24 last">
  <div>Source code on GitHub: <a href="http://github.com/cpetschnig/translate-twitter">http://github.com/cpetschnig/translate-twitter</a></div>
  <div>Contact me on Twitter: @<a href="http://twitter.com/cpetschnig">cpetschnig</a></div>
  <div>I would like to include the whole bunch of Japanese Ruby creators/core members/contributors; drop me a line about who to add here!</div>
  <div>What about Minero Aoki, Ryan Davis, Martin Dürst, Yusuke Endoh, Takeyuki Fujioka, tadayoshi funaba, Kentaro Goto, James Gray, Kirk Haines, Eric Hodel, Keiju Ishitsuka, Yutaka Kanemoto, Motohiro KOSAKI, Marc-Andre Lafortune, Shugo Maeda, Kenta Murata, Akinori MUSHA, Hidetoshi Nagai, Nobuyoshi Nakada, Hiroshi NAKAMURA, Narihiro Nakamura, Usaku NAKAMURA, Yui NARUSE, Kazuhiro NISHIYAMA, Aaron Patterson, Evan Phoenix, Sean Russell, Masatoshi Seki, Masaki Suketa, Kouhei Sutou, Mitsuhiro TAKANO, Kouji Takao, Akira Tanaka, Dave Thomas, Shyouhei Urabe, _ wanabe, akira yamada, GOTOU Yuuzou, ujihisa, Roger Pack <a href="http://redmine.ruby-lang.org/projects/show/ruby-19">http://redmine.ruby-lang.org/projects/show/ruby-19</a></div>
  <div>You think this page looks ugly? Help me layouting it!</div>
</div>
