<% form_for(@tweet) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :irt_screen_name %><br />
    <%= f.text_field :irt_screen_name %>
  </div>
  <div class="field">
    <%= f.label :irt_user_id %><br />
    <%= f.text_field :irt_user_id %>
  </div>
  <div class="field">
    <%= f.label :irt_status_id %><br />
    <%= f.text_field :irt_status_id %>
  </div>
  <div class="field">
    <%= f.label :contributors %><br />
    <%= f.text_field :contributors %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :favorited %><br />
    <%= f.check_box :favorited %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :geo %><br />
    <%= f.text_field :geo %>
  </div>
  <div class="field">
    <%= f.label :t_id %><br />
    <%= f.text_field :t_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
