<span class="thumb"></span>
<span class="status-body">
  <!-- strong><a href="http://twitter.com/<%= tweet.user.username %>" class="tweet-url screen-name"><%= tweet.user.username %></a></strong -->
  <span class="entry-content"><%= tweet.text %></span>
  <span class="entry-meta">
    <span class="published timestamp"><%= tweet.tw_created_at %></span>
    <span>via <%= raw tweet.source %></span>
  </span>
</span>
<% tweet.translations.each do |translation| %>
<span class="status-translation">
  <span class="entry-content"><%= translation.text %></span>
</span>
<% end %>
