<h1>Listing tweets</h1>

<table>
  <tr>
    <th>Irt screen name</th>
    <th>Irt user</th>
    <th>Irt status</th>
    <th>Contributors</th>
    <th>Source</th>
    <th>Favorited</th>
    <th>User</th>
    <th>Geo</th>
    <th>T</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.irt_screen_name %></td>
    <td><%= tweet.irt_user_id %></td>
    <td><%= tweet.irt_status_id %></td>
    <td><%= tweet.contributors %></td>
    <td><%= tweet.source %></td>
    <td><%= tweet.favorited %></td>
    <td><%= tweet.user_id %></td>
    <td><%= tweet.geo %></td>
    <td><%= tweet.twitter_id %></td>
    <td><%= tweet.status %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tweet', new_tweet_path %>
