<%= form_for(@twitter_account) do |f| %>
  <% if @twitter_account.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@twitter_account.errors.count, "error") %> prohibited this foo from being saved:</h2>
    <ul>
    <% @twitter_account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :image_url %>
    <%= f.hidden_field :followers %>
    <%= button_to_function('Load', remote_function(:method => :get,
        :url => fetch_user_from_twitter_url(:format => :html),
        :complete => %{$('#fetch_from_twitter').css('display', '')},
        :success => %{
  $('#fetch_from_twitter').html(request);
  $('#twitter_account_user_id').val($('#fetched_user_twitter_id').html());
  $('#twitter_account_real_name').val($('#fetched_user_real_name').html());
  $('#twitter_account_followers').val($('#fetched_user_followers').html());
  $('#twitter_account_image_url').val($('#fetched_user_image_url').html());
  $('#twitter_account_submit').attr('disabled', '')},
        :failure => %{$('#fetch_from_twitter').html('An error occured. See logfile for details.');
    $('#twitter_account_submit').attr('disabled', 'disabled')},
        :with => %{'user=' + $('#twitter_account_username').val()},
	:data_type => 'xml')) %>
  </div>
  <div class="field">
    <%= f.label :real_name %><br />
    <%= f.text_field :real_name %>
  </div>
  <div class="field">
    <%= f.label :can_publish, 'Account Type' %><br />
    <%= f.select :can_publish, TwitterAccountType.options_for_select(:value => :can_publish) %>
  </div>
  <div class="field"<%= ' style="display: none;"'.html_safe if @twitter_account.new_record? %>>
    <%= f.label :since_id %><br />
    <%= f.text_field :since_id %>
  </div>
  <div class="field"<%= ' style="display: none;"'.html_safe if @twitter_account.new_record? %>>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field"<%= ' style="display: none;"'.html_safe if @twitter_account.new_record? %>>
    <%= f.label :consumer_key %><br />
    <%= f.text_field :consumer_key %>
  </div>
  <div class="field"<%= ' style="display: none;"'.html_safe if @twitter_account.new_record? %>>
    <%= f.label :consumer_secret %><br />
    <%= f.text_field :consumer_secret %>
  </div>
  <div class="field"<%= ' style="display: none;"'.html_safe if @twitter_account.new_record? %>>
    <%= f.label :access_token %><br />
    <%= f.text_field :access_token %>
  </div>
  <div class="field"<%= ' style="display: none;"'.html_safe if @twitter_account.new_record? %>>
    <%= f.label :access_secret %><br />
    <%= f.text_field :access_secret %>
  </div>
  <div class="actions">
    <%= f.submit :disabled => @twitter_account.new_record? %>
  </div>
  <div id="fetch_from_twitter" style="display: none;"></div>
<% end %>
