<% form_for(@twitter_account) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :since_id %><br />
    <%= f.text_field :since_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
