<p>
  <b>Username:</b>
  <%= @twitter_account.username %>
</p>

<p>
  <b>Max:</b>
  <%= @twitter_account.since_id %>
</p>

<ol class="statuses" id="timeline">
  <% @twitter_account.latest_50_tweets.each_with_index do |tweet, index| %>
  <li id="status_<%= tweet.twitter_id %> " class="hentry status<%= ' latest-status' if index == 0 %>">
    <%= render :partial => 'tweets/show', :locals => {:tweet => tweet} %>
  </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_twitter_account_path(@twitter_account) %> |
<%= link_to 'Back', twitter_accounts_path %>
