<%= form_for(@translation_job) do |f| %>
  <% if @translation_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation_job.errors.count, "error") %> prohibited this translation_job from being saved:</h2>

      <ul>
      <% @translation_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source_id %><br />
    <%= f.select :source_id, TwitterAccount.all.map{|obj| [obj.username, obj.id]} %>
  </div>
  <div class="field">
    <%= f.label :target_id %><br />
    <%= f.select :target_id, TwitterAccount.all.map{|obj| [obj.username, obj.id]}.unshift(['-', nil]) %>
  </div>
  <div class="field">
    <%= f.label :from_lang %><br />
    <%= f.select :from_lang, MsLanguage::DATA %>
  </div>
  <div class="field">
    <%= f.label :to_lang %><br />
    <%= f.select :to_lang, MsLanguage::DATA %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
