<h1>Listing translations</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Target</th>
    <th>From lang</th>
    <th>To lang</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @translation_jobs.each do |translation| %>
  <tr>
    <td><%= translation.source %></td>
    <td><%= translation.target %></td>
    <td><%= translation.from_lang %></td>
    <td><%= translation.to_lang %></td>
    <td><%= link_to 'Show', translation %></td>
    <td><%= link_to 'Edit', edit_translation_job_path(translation) %></td>
    <td><%= link_to 'Destroy', translation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New translation', new_translation_job_path %>
