<p>
  <b>Source:</b>
  <%= @translation_job.source %>
</p>

<p>
  <b>Target:</b>
  <%= @translation_job.target %>
</p>

<p>
  <b>From lang:</b>
  <%= @translation_job.from_lang %>
</p>

<p>
  <b>To lang:</b>
  <%= @translation_job.to_lang %>
</p>


<%= link_to 'Edit', edit_translation_job_path(@translation_job) %> |
<%= link_to 'Back', translation_jobs_path %>
